.cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  height: 100vh;
  background: linear-gradient(to right, #4e4e4e, var(--black));
  padding: 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  color: white;
  border-radius: 20px 0 0 20px;
  z-index: 11;
  overflow-y: scroll;
}

.cart.visible {
  transform: translateX(0);
}

.cart-header {
  display: flex;
  justify-content: space-between;
}

.cart-header h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.cart-header button {
  border: none;
  cursor: pointer;
  align-self: flex-start;
  height: 30px;
  width: 30px;
  background-color: rgb(228, 228, 228);
  border-radius: 20px;
  color: var(--black);

  & :hover {
    background-color: rgb(204, 204, 204);
    border-radius: 20px;
  }
}

.cart-product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  color: var(--black);
  border-radius: 10px;
}

.cart img {
  height: auto;
  width: 50px;
  margin-right: 10px;
}

.cart-product-info li {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgb(216, 216, 216);
}

.cart-btn-cont {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-remove,
.btn-add {
  border-radius: 20px;
  border: none;
  height: 25px;
  width: 25px;
  cursor: pointer;
  background-color: white;
  padding: 0;
}

.btn-add svg,
.btn-remove svg {
  color: var(--black);
  height: 25px;
  width: 25px;
}

span {
  margin-left: 5px;
  margin-right: 5px;
}

.cart-price {
  margin-left: 15px;
  font-weight: 700;
}

.cart ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.total-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  color: var(--black);
  font-weight: 700;
  border-radius: 10px;
}

.btn-checkout {
  align-self: center;
  background-color: rgb(21, 179, 0);
  color: white;
  padding: 8px 15px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  box-shadow:
    inset 0 -0.0625em 0.0625em 0.125em rgb(0 0 0 / 0.1),
    inset 0 -0.125em 0.0625em rgb(0 0 0 / 0.2),
    inset 0 0.1875em 0.0625em rgb(255 255 255 / 0.3),
    0 0.125em 0.125em rgb(0 0 0 / 0.5);
}

.cart-empty {
  margin: 20px;
  text-align: center;
  font-size: 1.3rem;
}

@media (max-width: 700px) {
  .cart {
    width: 300px;
  }
}
